.Card{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: aqua;
    border-radius: 4;
    min-width: 90vh;
}
.cardImgHolder{
    max-height: 20vh;
    max-width: 20vh;
}
.cardImg{
    display: flex;
    size: contain;
}