.Navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1vh;
}

.NavbarLink {
    color: white;
    text-decoration: none;
    font-size: 2.5vw;
    padding: .5vh;
}